body {
  background-color: #eeeeee;
  color: black;
  font-family: "helvetica neue", Arial, sans-serif; }

.container {
  margin: 20px auto;
  width: 800px;
  text-align: center; }

a {
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: underline; }

h1.matt {
  font-size: 300%;
  font-weight: bold;
  display: block;
  margin: 0 0 20px -3px;
  color: #dddddd; }

.view-controller {
  padding: 19px 10px 0;
  display: inline-block;
  font-weight: bold;
  position: relative;
  border-left: 1px solid #cccccc;
  margin: 0 0 20px 0;
  font-size: 90%; }
  .view-controller.first {
    border-left: none;
    margin-left: -8px; }
  .view-controller .heading {
    position: absolute;
    font-size: 79%;
    text-transform: uppercase;
    top: 0;
    left: 10px;
    font-weight: normal;
    color: #aaaaaa;
    letter-spacing: 0.07em; }
  .view-controller a {
    display: inline-block;
    color: #999999;
    cursor: pointer;
    letter-spacing: 0.01em;
    margin-left: 10px; }
    .view-controller a.first {
      margin-left: 0; }
    .view-controller a.active {
      color: black;
      text-decoration: underline;
      cursor: default; }

.elements {
  padding-bottom: 2px;
  width: 700px;
  display: inline-block; }

.element {
  font-size: 100%;
  margin: 0;
  padding: 4px 4px 4px 95px;
  position: relative; }

.detail {
  display: inline;
  font-size: 80%;
  color: #888888;
  margin: 5px 0 0 0; }
  .detail a {
    color: #5669b2; }

.name {
  color: #5669b2;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
  display: inline-block; }

.title {
  display: inline-block;
  font-size: 69%;
  text-transform: uppercase;
  color: #aaaaaa;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-right: 3px;
  text-align: right;
  width: 90px;
  position: absolute;
  top: 7px;
  left: 0; }

.locations {
  color: #999999;
  font-size: 65%;
  display: none; }

.length {
  right: 5px;
  top: 6px;
  position: absolute;
  display: inline-block;
  font-size: 69%;
  color: #aaaaaa;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: none; }

.off {
  color: black; }
