%li{   :class => "element {% for cat in element.categories %} {{ cat }} {% endfor %}", :"data-filter" => "{{ element.categories[1] }}", :"data-length" => "{{ element.length }}", :"data-date" => "{{ element.date }}", :"data-passion" => "{{ element.passion }}"}
  %a.name{:href => "{{ element.url }}"} 
    {{ element.name }}
    {% if element.title %}
    .title {{ element.title }}
    {% endif %}
  .detail 
    {{ element.detail }}
    .length {% if element.length %}{{ element.length }} months,{% endif %} {{ element.years }}
    
  {% if element.locations %}
  .locations [{{ element.locations }}]
  {% endif %}