%a#logo{:href=>"/"}
.nav
  %a.learn-about-zeo{:href=>"learn-about-zeo.html"} Learn About Zeo
  %a.press{:href=>"press.html"} Press
  %a.support{:href=>"support.html"} Support
  %a.login{:href=>"login.html"} Login
  %a.purchase{:href=>"purchase.html"} Purchase
