.nav
  %a.home{:href=>"index.html"} Home
  %a.cv{:href=>"/cv.html"} CV
  %a.photography{:href=>"/photography.html"} Photography
  %a.blog{:href=>"/blog.html"} Blog
  %a.bio{:href=>"/bio.html"} Bio
.nav-right
  Follow me on Twitter: 
  %a{:href=>"http://twitter.com/mhuebert"}@mhuebert