%a#logo{:href=>"index.html"}
.nav
  / %a.learn-about-zeo{:href=>"learn-about-fir-heat-wraps.html"} Learn More
  
  / %a.press{:href=>"products.html"} Products
  
  / %a.press{:href=>"press.html"} Press

  %a.support{:href=>"support.html"} Support
