<li class='element {% for cat in element.categories %} {{ cat }} {% endfor %}' data-date='{{ element.date }}' data-filter='{{ element.categories[1] }}' data-length='{{ element.length }}' data-passion='{{ element.passion }}'>
  <a class='name' href='{{ element.url }}'>
    {{ element.name }}
    {% if element.title %}
    <div class='title'>{{ element.title }}</div>
    {% endif %}
  </a>
  <div class='detail'>
    {{ element.detail }}
    {% if element.length %}
    <br />
    <div class='length'>{{ element.length }} months, {{ element.years }}</div>
    {% endif %}
  </div>
  {% if element.locations %}
  <div class='locations'>[{{ element.locations }}]</div>
  {% endif %}
</li>
