<script src='/js/jquery-1.4.4.min.js' type='text/javascript'></script>
<script src='/js/jquery.isotope.min.js' type='text/javascript'></script>
<script src='/js/mattis.js' type='text/javascript'></script>
<!-- %script{:src => "/js/head.js", :type => "text/javascript"} -->
<!-- %script -->
<!-- js_path = "/js/" -->
<!-- head.js(  {jquery: js_path+"jquery-1.4.4.min.js"},  /             js_path+"jquery.isotope.min.js",          /             {last: js_path+"mattis.js"}               /   ) -->
<!-- head.js({typekit: "http://use.typekit.com/amt1jhz.js"}) -->
