<!doctype html>
%html
  %head
    %title Matt Huebert | {{ page.title }}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    %meta{:charset => "utf-8"}
    %meta{:name => "author", :content => "Matthew Huebert"}
    %meta{:name => "description", :content => "I am an intellectually curious programmer, writer, designer, photographer, and entrepreneur. I thrive on the unfamiliar, and I am a non-theist. I have lived in Guatemala, Argentina, DR Congo, China, and spent periods of time in Colombia and various regions of Central America."}
    %meta{:name => 'viewport', :content => 'initial-scale = 1.0'} 
    %link{:rel=>"stylesheet", :href => "/css/reset.css", :type => "text/css"}
    %link{:rel=>"stylesheet", :href => "/css/styles.css", :type => "text/css"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %link{:href=>"http://matt.is", :rel=>"alternate", :title=>"Matthew Huebert", :type=>"application/atom+xml"}
    {% include javascripts.html %}
  %body
    .bg
      %img{:src=>"/images/matthew-huebert-bg.jpg"}
    .container
      {% include nav.html %}
      %h1.matt Matt Huebert
      {{ content }}
      .bottom
        {% if disqus_hide == null %}
        {% include disqus.html %}
        {% endif %}
        {% include facebook.html %}
        {% include nav.html %}
    {% include woopra.html %}
    
