<!doctype html>
%html
  %head
    %title {{ page.title }} | +Kinetic Heat Far Infrared Wraps and Heated Clothing
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => "{% if page.meta %}{{ page.meta }}{% else %}+Venture far infrared heat wraps offer fast, safe, effective pain relief and warmth.{% endif %}"}
    %meta{:name => 'viewport', :content => 'initial-scale = 1.0'} 
    %link{:rel=>"stylesheet", :href => "css/reset.css", :type => "text/css"}
    %link{:rel=>"stylesheet", :href => "css/styles.css", :type => "text/css"}
    %link{:rel=>"shortcut icon", :href=>"favicon.ico"}
    {% include javascripts.html %}
  %body
    #top
    .container
      {% include nav.html %}
      .clear
      {{ content }}
      .bottom    