<!doctype html>
%html
  %head
    %title {{ page.title }}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    %meta{:charset => "utf-8"}
    %meta{:name => "author", :content => "Matthew Huebert"}
    %meta{:name => "description", :content => "{{page.meta}}"}
    %meta{:name => 'viewport', :content => 'initial-scale = 1.0'} 
    %link{:rel=>"stylesheet", :href => "/css/reset.css", :type => "text/css"}
    %link{:rel=>"stylesheet", :href => "/css/styles.css", :type => "text/css"}  
    {% include javascripts.html %}
  %body
    .container
      {{ content }}
    
