<!doctype html>
%html
  %head
    %title Matt Huebert | {{ page.title }}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    %meta{:charset => "utf-8"}
    %meta{:name => "author", :content => "Matthew Huebert"}
    %meta{:name => "description", :content => "{% if page.meta %}{{ page.meta }}{% else %}Zeo is a revolutionary sleep data device.{% endif %}"}
    %meta{:name => 'viewport', :content => 'initial-scale = 1.0'} 
    %link{:rel=>"stylesheet", :href => "/css/reset.css", :type => "text/css"}
    %link{:rel=>"stylesheet", :href => "/css/styles.css", :type => "text/css"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %link{:href=>"http://matt.is", :rel=>"alternate", :title=>"Matthew Huebert", :type=>"application/atom+xml"}
    {% include javascripts.html %}
  %body
    .container
      {% include nav.html %}
      {{ content }}
      .bottom    