\---
title: Bio
layout: default
\---
.bio
%p I am an intellectually curious programmer, writer, designer, photographer, and entrepreneur. I thrive on the unfamiliar, and I am a non-theist. I have lived in Guatemala, Argentina, Zaire, China, and spent extended periods of time in Colombia and various regions of Central America.

%p In 2003 I started Ethical Style, a for-profit business designed to support independent artisans in developing economies. In 2004 I joined Junior Team Canada, and over the next two years I helped lead trade development missions to China, Singapore, Malaysia, and Chile. In the fall of 2005 I co-founded YouthInside at the WTO meetings in Hong Kong to encourage more youth to get involved with international trade.

%p In early 2008 I flew to China to co-found my second business, <a href="http://www.bodo.ca">Bodo</a>. I assembled a hardware engineering team in Beijing to design and prototype the world’s most advanced infrared sauna, and then returned to Canada to focus on marketing.

%p Back in Canada, I soon found myself yearning to start my own internet company, and shifted to a consulting role with Bodo so that I could spend more time traveling, researching, and teaching myself how to program computers. 

%p After several months in Central and South America, in 2010 I decided to commit full-time in a new startup, having been inspired by positive feedback received at a startup conference in San Francisco.