\---
title: Blog
layout: default
disqus_hide: true
hide_title: true
\---
.recent-posts{:style=>"width:700px;"}
  
  %ul.posts
    {% for post in site.posts limit:30 %}
    %li
      .date {{ post.date | date_to_string }}
      %a{:href=>"{{ post.url }}"} {{ post.title }}
    {% endfor %}
