\---
title: Zeo Sleep Science
layout: default
\---
.slider-wrap 
  #s.slider{:"data-auto" => "true"}
    .viewport.img-border
      %ul.overview
        %li.page{:style=>"background:url(images/s-1.jpg) no-repeat"}
          %h2 Meet Zeo, your personal sleep coach.
        %li.page{:style=>"background:url(images/s-2.gif) no-repeat"}
          %h2 Use Zeo to understand and improve the quality of your sleep.
        %li.page{:style=>"background:url(images/s-3.jpg) no-repeat"}
          / %h2 How does it work?
        %li.page{:style=>"background:url(images/s-6.jpg) no-repeat"}
          %a{:href=>"learn-about-zeo.html", :style=>"position:absolute;right:0;top:325px;"}
            %img{:src=>"images/s-more.png"}
          %h2 The more you know, the better you sleep.
    .slider-nav
      %a.buttons.tk-museo.prev.disable
      %a.buttons.tk-museo.next

%a{:href=>"press.html"}
  %img{:src=>"images/press-bar.gif"}
