\---
title: Matthew Huebert
layout: default
\---
%h1.matt Matthew Huebert
#sort.view-controller.first
  .heading Sort
  %a.active.first{:href=>"#date"} Most Recent
  %a{:href=>"#length"} Time Invested
  %a{:href=>"#passion"} Passion
#filter.view-controller
  .heading View
  %a.first.active{:href=>"#*"} All
  %a{:href=>"#.education"} Education
  %a{:href=>"#.entrepreneurial"} Entrepreneurial
  %a{:href=>"#.non-profit"} Non-Profit
  %a{:href=>"#.awards"} Awards
%ul#cv.elements
  {% for element in site.elements limit:20 %}
  {% include element_partial.html %}
  {% endfor %}
