\---
title: CV
layout: default
disqus_hide: true
\---
#filter.view-controller.first
  .heading View
  %a.first{:href=>"#*"} All
  %a{:href=>"#.education"} Education
  %a.active{:href=>"#.entrepreneurial"} Entrepreneurial
  %a{:href=>"#.non-profit"} Non-Profit
  %a{:href=>"#.awards"} Awards
#sort.view-controller
  .heading Sort
  %a.first{:href=>"#date"} Most Recent
  %a{:href=>"#length"} Time Invested
  %a.active{:href=>"#passion"} Passion

%ul#cv.elements
  {% for element in site.elements limit:20 %}
  {% include element_partial.html %}
  {% endfor %}
