\---
title: Home
layout: default
\---
%h1.hm-lg Wireless Far Infrared Pain Relief

%img{:src=>"images/home-body.jpg", :align=>"left", :style=>"margin-right: 25px"}

.desc-block
  %p{:style=>"margin-bottom:20px;"}
    +Venture 
    %strong wireless 
    heat wraps deliver fast, effective 
    %strong pain relief 
    and healing whenever, wherever you need it.
  %a{:href=>"learn-about-fir-heat-wraps.html"}
    %img{:src=>"images/s-more.png"}
  %span.see-pricing
    or
    %a{:href=>"products.html", :style=>"text-decoration:underline;"} see pricing
  %img.testim{:src=>"images/test-1.jpg"}
  %img.testim{:src=>"images/test-2.jpg"}
%a{:href=>"press.html"}
  %img{:src=>"images/press-bar.jpg"}
