\---
title: Learn More
layout: default
\---
.learn-content
  .vtabs-wrapper  
    %ul.vtabs-controller
      %li
        %a.vnav.selected{:href=>"#overview"} Overview
      %li
        %a.vnav{:href=>"#how"} How Does It Work?
      %li
        %a.vnav{:href=>"#usage"} Usage Instructions
    .vtabs-content
      .vtabs-content-top
      #overview-c.vtabs-content-item.active
        %h3 
          Pain Relief 
          %strong.hilite Without 
          Pills.
        %p Heat wraps have been scientifically proven effective for pain relief:
        %ul
          %li Low back pain
          %li Neck pain caused by arthritis, trauma, or muscle strain
          %li Wrist pain
          %li Menstrual pain
        %hr
        
        %h3 
          Recommended by 
          %a{:href=>"press.html", :style=>"text-decoration:underline;"} theDoctors
        
        %p 
          Traditional electric heat wraps, which use high voltage electricity and wire coil heating elements, can be hazardous.
          
        %p Extra-low-voltage +Venture heat wraps are recommended by doctors. They are a safe alternative to traditional electric pads, and more economical than single-use throw-away pads.
        
        %h3 Why +Venture Heat Wraps?
        
        %p
          %strong.hilite Hours of Continuous Heat
        
        %p +Venture heat wraps are designed to provide up to 7 hours of continuous, even, low-temperature heat on a single charge.
        
        %p
          %strong.hilite Safe
          
        %p
          Due to poor design and high voltages, electric heating pads of the past were hazardous and could cause fires and burns. +Venture heat wraps are safer than old designs because they use an
          %strong extra-low-voltage
          design (7-8 volts).
          
        %p
          %strong.hilite Reliable, Even Heat
        %p
          +Venture heat wraps use 
          large surface area, flexible, carbon fibre heating layers
          which provide
          %strong even heat, with no hot-spots,
          unlike traditional electric coil heating elements.
          
        %p
          %strong.hilite
          
        %h3.vtabs-next
          Next:
          %a.vtabs-nav{:href=>"#how"} How does it work?
        
      #how-c.vtabs-content-item
        %h3 How do heat wraps relieve pain?
        
        %p
          %strong.hilite 1. Pain Signals are Blocked
        
        %p
          Heat activates special thermo-sensitive nerves. When these nerves send signals to the brain, they block other signals (like pain) that are trying to reach the brain at the same time. 
          
        %p So, heat sensations effectively offset pain sensations.
        
        %p
          %strong.hilite 2. Muscle Tissue is Relaxed
          
        %p Pain causes a reflex-reaction, so that muscles around an injury tense up. This tension can exacerbate the pain and even lead to painful muscle spasms that can make an injury worse.
        
        %p Heat relaxes muscle tissue, avoiding spasms and increasing comfort. 
          
        %p
          %strong.hilite 3. Blood Flow is Increased
          
        %p As pain causes muscle tissue to tense up, blood flow is decreased and this makes healing more difficult and slow.
        
        %p Deep, penetrating heat increases blood flow to the affected area, helping to flush our toxins and bring in more oxygen, leading to faster healing.
        
          
        .clear
        %hr
        %h3.vtabs-next
          Next:
          %a.vtabs-nav{:href=>"#usage"} How to Use Heat Wraps Effectively
      #usage-c.vtabs-content-item
        %h3 Aim for long-duration, low-temperature heat
        %p The latest research shows that heat is most effective when applied continuously, for hours at a time, at a low temperature (about 40°C or 104°F). Long-duration (up to 8 hours at a time) application of heat has been proven more effective than the short treatments which have been prescribed in the past.
      .vtabs-content-bottom
      %a#totop{:href=>"#"} Back to Top