\---
title: Zeo | Learn More
layout: default
\---
.learn-content
  .vtabs-wrapper  
    %ul.vtabs-controller
      %li
        %a.selected{:href=>"#overview"} Overview
      %li
        %a{:href=>"#visualizations"} Visualizations
    .vtabs-content
      .vtabs-content-top
      #overview.vtabs-content-item.active
        Over
      #visualizations.vtabs-content-item
        Viz
      .vtabs-content-bottom