\---
title: Zeo | Press
layout: default
\---
.press-content
  
  .text{:style=>"left:0px;top:87px;"}
    %a{:href=>"http://www.nytimes.com/2009/07/16/technology/personaltech/16pogue.html?scp=2&sq=zeo&st=Search"}
      %img{:src=>"images/press-nyt-t.gif"}
  .logo{:style=>"left:130px;top:180px;"}
    %a{:href=>"http://www.nytimes.com/2009/07/16/technology/personaltech/16pogue.html?scp=2&sq=zeo&st=Search"}
      %img{:src=>"images/press-nyt-l.gif"}
  .text{:style=>"left:394px;top:89px;"}
    %a{:href=>"http://online.wsj.com/article/SB124451280076496767.html"}
      %img{:src=>"images/press-wsj-t.gif"}
  .logo{:style=>"left:254px;top:250px;"}
    %a{:href=>"http://online.wsj.com/article/SB124451280076496767.html"}
      %img{:src=>"images/press-wsj-l.gif"}
  .text{:style=>"left:193px;top:311px;"}
    %a{:href=>"http://today.msnbc.msn.com/id/26184891/vp/34427824#34427824"}
      %img{:src=>"images/press-today-t.gif"}
  .logo{:style=>"left:288px;top:486px;"}
    %a{:href=>"http://today.msnbc.msn.com/id/26184891/vp/34427824#34427824"}
      %img{:src=>"images/press-today-l.gif"}
  .show{:style=>"left:131px;top:554px;"}
    %a{:href=>"http://today.msnbc.msn.com/id/26184891/vp/34427824#34427824"}
      %img{:src=>"images/press-today-show.jpg"}