\---
title: Support
layout: default
\---

.vtabs-wrapper  
  %ul.vtabs-controller
    %li
      %a.vnav.selected{:href=>"#questions"} Questions
    %li
      %a.vnav{:href=>"#contact"} Contact Us     
  .vtabs-content
    .vtabs-content-top
    #questions-c.vtabs-content-item.qa.active
      .q What are Far Infrared Rays (F.I.R.)?
      .a 
        %p
          Produced naturally by the Sun, Far Infrared Rays are wavelengths of energy found within the light spectrum invisible to the naked eye. Through a process known as “thermal conversion”, these rays are capable of allowing the warmth from the Sun to penetrate deeply into the human body and gently elevate its temperature -- known to be a vital physiological process in activating major bodily functions and the body’s natural healing process.
        %p Far Infrared Rays are proven effective for pain management.  Through it, you can engage into different activities that you would not be able to otherwise.  Imagine playing your favorite sport or dancing with an audience or something as simple as taking a stroll along the park.  Far Infrared Ray heat therapy makes all these possible. 
      .q What are the benefits of Far Infrared Rays?
      .a
        %ul
          %li   Deep penetrating heat 
          %li   Targeted pain relief
          %li   Dilates the blood vessels
          %li   Increases blood flow
          %li   Heightens the oxygen levels in the blood
          %li   Relaxes muscles spasms and joint stiffness
          %li   Speeds up healing
      .q What are your products made of?
      .a
        %p FIReat therapy wraps are made of Neoprene, a flexible rubber garment, stitched with Fleece lining to effectively trap heat.  The coil-free, hair-thin heating element is made of carbon fiber alloy and the Velcro closure makes the wrap adjustable, providing a comfortable and snug fit.
      .q How do I use a Far Infrared Wrap?
      .a
        %p 1. Wrap the particular FIRheat product around the aching body part. 
        %p 2. Adjust the fit by using the Velcro lock until it is snug and comfortable.  
        %p 3. Choose the heat setting that works best for you using the 4-temperature controller. 
        %p 4. Enjoy your FIR heat therapy session in the comfort of your own home. 
      .q Is it safe?
      .a
        %p FIRheat products are guaranteed safe because it is free from harmful Electromagnetic Field Frequencies and equipped with other precautionary features:
        %ul
          %li Safe low voltage
          %li 4-setting temperature controller
          %li LED status indicator
    #contact-c.vtabs-content-item
      <iframe src="https://spreadsheets.google.com/a/bodo.ca/spreadsheet/embeddedform?formkey=dHRDOFlxRnoxNVNtXzFqcTBFYlFEWUE6MA" width="550" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    .vtabs-content-bottom
    %a#totop{:href=>"#"} Back to Top
