<!doctype html>
<html>
  <head>
    <title>Matt Huebert | {{ page.title }}</title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta charset='utf-8' />
    <meta content='Matthew Huebert' name='author' />
    <meta content='{% if page.meta %}{{ page.meta }}{% else %}Zeo is a revolutionary sleep data device.{% endif %}' name='description' />
    <meta content='initial-scale = 1.0' name='viewport' />
    <link href='/css/reset.css' rel='stylesheet' type='text/css' />
    <link href='/css/styles.css' rel='stylesheet' type='text/css' />
    <link href='/favicon.ico' rel='shortcut icon' />
    <link href='http://matt.is' rel='alternate' title='Matthew Huebert' type='application/atom+xml' />
    {% include javascripts.html %}
  </head>
  <body>
    <div class='container'>
      {% include nav.html %}
      {{ content }}
      <div class='bottom'></div>
    </div>
  </body>
</html>
