<!doctype html>
<html>
  <head>
    <title>{{ page.title }} | +Kinetic Heat Far Infrared Wraps and Heated Clothing</title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta charset='utf-8' />
    <meta content='{% if page.meta %}{{ page.meta }}{% else %}+Venture far infrared heat wraps offer fast, safe, effective pain relief and warmth.{% endif %}' name='description' />
    <meta content='initial-scale = 1.0' name='viewport' />
    <link href='css/reset.css' rel='stylesheet' type='text/css' />
    <link href='css/styles.css' rel='stylesheet' type='text/css' />
    <link href='favicon.ico' rel='shortcut icon' />
    {% include javascripts.html %}
  </head>
  <body>
    <div id='top'></div>
    <div class='container'>
      {% include nav.html %}
      <div class='clear'></div>
      {{ content }}
      <div class='bottom'></div>
    </div>
  </body>
</html>
