\---
layout: default
title: About This Site
category: explaining
\---

.post-title {{ page.title }}

%p
  I built this site with 
  %a{:href=>"https://github.com/mojombo/jekyll"} Jekyll, 
  and it’s hosted on 
  %a{:href=>"http://pages.github.com"}GitHub Pages. 
  I’m using modified 
  %a{:href=>"http://haml-lang.com/"} HAML, 
  %a{:href=>"sass-lang.com/"} SASS 
  and 
  %a{:href=>"http://jashkenas.github.com/coffee-script/"} CoffeeScript 
  extensions, which make coding a lot more fun, and the 
  %a{:href=>"http://http://isotope.metafizzy.co/"} Isotope 
  jQuery plugin drives the 
  %a{:href=>"/"} CV 
  interface.
%p
  If you’re into this sort of thing, you can 
  %a{:href=>"https://github.com/mhuebert/matt.is-cv"} view the source. 
